h6 {
  color: rgb(169, 213, 228);
  margin-top: 10px;
  margin-left: 3.4vw;
}
.Searching .row {
  margin-top: 30px;
}
.row .col-6 {
  width: 42%;
  padding: 0;
  margin-left: 3.4vw;
}
.Forms .search {
  width: 30vw;
  height: 5vh;
  font-size: 2vh;
  background-color: rgb(255, 255, 255, 20%);
  border: 0.1px solid rgb(0, 0, 0, 10%);
  border-radius: 10px;
  padding: 4px 10px;
  color: rgb(169, 213, 228);
  margin-right: 5px;
}

.row .col-2 {
  width: 24%;
}
.col-2 .SubmitButton {
  background-color: rgb(169, 213, 228);
  color: black;
  width: 8vw;
  height: 5vh;
  border-radius: 10px;
  border: none;
  font-size: 2vh;
}

.Photos .col-3 .favorites {
  background-color: black;
  color: rgb(169, 213, 228);
  border-radius: 10px;
  border: 1px solid rgb(169, 213, 228);
  float: right;
  font-size: 2vh;
}

.Photos .btn {
  width: 12vw;
  height: 5vh;
}

.Photos .btn-check:focus + .btn-primary,
.btn-primary:focus {
  background-color: rgb(169, 213, 228);
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 10px 5px rgb(172, 172, 172, 0.2);
}

.Photos .col-3 .favorites:hover {
  background-color: rgb(169, 213, 228);
  color: black;
  border: 1px solid rgb(169, 213, 228);
  transform: scale(1.1);
}
